# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode9.0

before_install:
- carthage update --project-directory ./Example --platform ios

script:
- set -o pipefail && xcodebuild -project Example/ScrollableTabs-Example.xcodeproj -scheme ScrollableTabs-Example -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=10.1,name=iPhone 7' ONLY_ACTIVE_ARCH=NO clean build | xcpretty -c
# TODO: Pass tests
# - set -o pipefail && xcodebuild test -workspace Example/ScrollableTabs.xcworkspace -scheme ScrollableTabs-Example -sdk iphonesimulator9.0 ONLY_ACTIVE_ARCH=NO | xcpretty -c

branches:
  only:
  - master

notifications:
  slack: kumapo:ydUxkFOe2m4wlNH7Lw3ZesoE
